body{
    margin: 0;
    padding: 0;
    background: url(image.jpg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
  }
  
  .terms-box {
      max-width: 460px;
      background-color: #400372;
      color: #fff;
      font-family: "Montserrat";
      padding: 60px 30px;
      border-radius: 20px;
  }
  
  .terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: #f1f1f1;
  }
  
  .terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: #282828;
  }
  
  .terms-text::-webkit-scrollbar-thumb{
    background-color: #d13639;
  }
  
  .terms-text h2{
    text-transform: uppercase;
  }
  
  .terms-box h4 {
      font-size: 13px;
      text-align: center;
      padding: 0 40px;
      display: flex;
      align-items: center;
  }
  
  
  
  
  .terms-box h4 span {
      color: #d13639;
      margin: 0 4px;
  }
  
  .buttons{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
  }
  
  .btn{
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: .3s  linear;
    cursor: pointer;
  }
  
  .accept-btn{
    background-color: #d13639;
  }
  
  .accept-btn:disabled {
      background-color: rgb(19 1 1 / 52%);
      color: rgba(255, 255, 255, 0.3);
      cursor: no-drop;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .accept-btn:disabled:before {
      content: "You Should Accept the Terms";
      position: absolute;
      top: -37px;
      font-size: small;
      width: fit-content;
      background: red;
      color: white;
      padding: 7px 9px;
      border-radius: 7px;
      opacity: 0;
      transition: all 0.5s;
      transform: translateY(30px);
  }
  
  .accept-btn:disabled:hover {
      opacity: 1!important;
  }
  
  .accept-btn:disabled:hover:before {
      opacity: 1;
      transform: translateY(0px);
  }
  
  .decline-btn{
    background-color: #282828;
  }
  
  .btn:hover{
    opacity: .6;
  }