div {
    text-align: right;
    font-size: small;
}
img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
p {
    text-align: right;

}
